name: Build

on:
  push:
    branches: [main]
    tags: [v*]
  pull_request:
    branches: [main]
  release:
    types: [created]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [x86_64]

    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: sudo apt-get install -y libncurses5-dev libncursesw5-dev cmake
      - name: CMake Build
        run: |
          mkdir -p build
          cd build
          cmake ..
          make
      - name: Make Build
        run: make
      - name: Package build artifacts
        run: |
          mkdir -p artifacts
          cp bin/snake artifacts/snake-linux-${{ matrix.arch }}
          zip -r snake-linux-${{ matrix.arch }}.zip artifacts/
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: snake-linux-${{ matrix.arch }}
          path: snake-linux-${{ matrix.arch }}.zip

  build-macos:
    runs-on: macos-latest
    strategy:
      matrix:
        arch: [x86_64, arm64]

    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: brew install ncurses cmake
      - name: CMake Build
        run: |
          mkdir -p build
          cd build
          cmake .. -DCMAKE_OSX_ARCHITECTURES=${{ matrix.arch }}
          make
      - name: Make Build
        run: make
      - name: Package build artifacts
        run: |
          mkdir -p artifacts
          cp bin/snake artifacts/snake-macos-${{ matrix.arch }}
          zip -r snake-macos-${{ matrix.arch }}.zip artifacts/
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: snake-macos-${{ matrix.arch }}
          path: snake-macos-${{ matrix.arch }}.zip

  build-windows:
    runs-on: windows-latest
    strategy:
      matrix:
        arch: [x86_64]

    steps:
      - uses: actions/checkout@v4
      - name: Set up MSYS2
        uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          update: true
          install: >
            mingw-w64-x86_64-pdcurses
            mingw-w64-x86_64-cmake
            mingw-w64-x86_64-gcc
      - name: CMake Build
        shell: msys2 {0}
        run: |
          mkdir -p build
          cd build
          cmake .. -G "MinGW Makefiles" -DCMAKE_MAKE_PROGRAM=mingw32-make -DCMAKE_C_COMPILER=gcc
          mingw32-make
      - name: Make Build
        shell: msys2 {0}
        run: make
      - name: Package build artifacts
        shell: msys2 {0}
        run: |
          mkdir -p artifacts
          cp bin/snake.exe artifacts/snake-windows-${{ matrix.arch }}.exe
          zip -r snake-windows-${{ matrix.arch }}.zip artifacts/
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: snake-windows-${{ matrix.arch }}
          path: snake-windows-${{ matrix.arch }}.zip
